/*
h1, h2, h3 {
    font-family: 'Merriweather', serif;
    font-weight: normal;
}

main {
    padding: $fallback--base-rem-space-unit;
}


.feather {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

    width: 1.25em;
    height: 1.25em;
}

*/
/*
.off-canvas .nav-bar__title-section {
    text-align: left;
}

main {
    @include fallback-rem(max-width, 1000px);
    margin: 0 auto;
    @include fallback-rem(padding, 0 $fallback--base-font-size);
}


.footer {
    background: #eee;
    text-align: center;
}

.footer > p {
    margin: 0;
    @include fallback-rem(padding, $fallback--base-font-size 0);
}
*/