<figure data-fs-block>
    <img src="/dev/elementary/img/federica-giusti-my6gx6s_Fr8-unsplash.jpg" alt="Edison bulb." width="500">
    <figcaption>
        <details>
            <summary><svg display="none" focusable="false" aria-hidden="true"><use xlink:href="#icon-info"></use></svg><svg display="none" focusable="false" aria-hidden="true"><use xlink:href="#icon-cross"></use></svg><small data-hidden="visually">Credit</small></summary>
            <small>Photo by <a href="https://unsplash.com/@federicagiusti?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Federica Giusti</a> on <a href="https://unsplash.com/s/photos/edison-bulb?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></small>
        </details>
    </figcaption>
</figure>
