/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: audio
    v3.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$s__namespace}audio {
    vertical-align: $s__media-element-vertical-align;

    // 2024 - not sure if I still need this:
    &:not([controls]) {
        display: none; /* 1 */
        height: 0;
    }
}
