/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: figcaption
    v3.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/
@use 'sass:math';

#{$s__namespace}figcaption {
    --m: calc(var(--base-rem-space-unit) / 2);

    font-size: 0.875em;

    margin-top: var(--m);
    margin-bottom: 0;
}