/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: h
    v3.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$s__namespace}h1 {
    font-size: $s__h1-font-size;
    line-height: $s__h1-height;

    text-wrap: balance;

    @include s__margins($s__base-rem-space-unit, $s__margin-type);
}

#{$s__namespace}h2 {
    font-size: $s__h2-font-size;
    line-height: $s__h2-height;

    text-wrap: balance;

    @include s__margins($s__base-rem-space-unit, $s__margin-type);
}

#{$s__namespace}h3 {
    font-size: $s__h3-font-size;
    line-height: $s__h3-height;

    text-wrap: balance;

    @include s__margins($s__base-rem-space-unit, $s__margin-type);
}

#{$s__namespace}h4 {
    font-size: $s__h4-font-size;
    line-height: $s__h4-height;

    text-wrap: balance;

    @include s__margins($s__base-rem-space-unit, $s__margin-type);
}

#{$s__namespace}h5 {
    font-size: $s__h5-font-size;
    line-height: $s__h5-height;

    text-wrap: balance;

    @include s__margins($s__base-rem-space-unit, $s__margin-type);
}

#{$s__namespace}h6 {
    font-size: $s__h6-font-size;
    line-height: $s__h6-height;

    text-wrap: balance;

    @include s__margins($s__base-rem-space-unit, $s__margin-type);
}
