/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: hr
    v3.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

/*
    1. Show the overflow in Edge and IE. (N)
*/
#{$s__namespace}hr {
    & {
        position: relative;

        height: var(--base-rem-space-unit);

        //overflow: visible; /* 1 */

        border: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: calc(var(--base-rem-space-unit) / 2);

        display: block;
        width: 100%;
        height: 0;
        border-bottom-width: var(--hr-border-width, var(--base-border-width));
        border-bottom-style: var(--hr-border-style, var(--base-border-style));
        border-bottom-color: var(--hr-border-color, var(--base-border-color));
    }

    @include s__margins($s__base-rem-space-unit, $s__margin-type);
}