/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: sup
    v3.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

/*
    Prevent `sup` affecting `line-height` in all browsers.
*/
#{$s__namespace}sup {
    position: relative;
    top: -0.5em;

    font-size: 75%;
    line-height: 0;

    vertical-align: baseline;
}
