/*-------------------------------------------------------------------------------------------------|

    LOGO
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$es__page_banner__logo} {
    --name: logo;

    display: inline-block;
    &  > a[href] {
        display: inline-block;
        font-size: 2.5em;
        line-height: 1;

        /*margin: 0 $s__sz-m $s__sz-xs 0;

        padding: $s__sz-s $s__sz-s $s__sz-xs $s__sz-s;*/
        padding: $s__sz-xxs;
        margin: $s__sz-s;

        border: 0;


        //background-color: transparent;
        //--background-color: #fff;
        --background-color: var(--logo-color, var(--base-ui-color));
        @include s__theme(var(--logo-color--text, var(--base-ui-color--text)));

        & > * {
            margin: 0;
            padding: 0;
        }

        & > svg {
            fill: none;
            stroke: oklch(from var(--background-color) var(--l) 0 h/0.9)
        }
    }
}

#{$es__page_banner__logo} > a[href]:hover,
#{$es__page_banner__logo} > a[href]:active,
#{$es__page_banner__logo} > a[href]:focus {
    border: 0;

    @include e__ojbect_highlight();

    //color: $s__anchor-text-color;
    //background-color: transparent;
    --background-color: var(--logo-color, var(--base-ui-color));
    @include s__theme(var(--logo-color--text, var(--base-ui-color--text)));
}