/*-------------------------------------------------------------------------------------------------|

    LAYOUT SIDEBAR
    ============================================================================================

    This should be used for site-wide content. I.e. content that doesn't change from page-to-page.
    Examples include:
    * Site-wide navigation if not putting in Banner.#
    * Search
    * Sign-up
    * Donate
    * Featured / Promoted content
    * Ads :-(

|-------------------------------------------------------------------------------------------------*/

#{$es__page_sidebar} {
    margin: 0;

    padding: $s__sz-m;

    //color: $e__sidebar--text-color;
    //background-color: $e__sidebar--background-color;

    --background-color: var(--sidebar-color-lighter, var(--base-ui-color-lighter));
    @include s__theme(var(--sidebar-color-lighter--text, var(--base-ui-color-lighter--text)));
}


#{$es__page_sidebar_after_main} {
    --background-color: var(--sidebar-color-light, var(--base-ui-color-light));
    @include s__theme(var(--sidebar-color-light--text, var(--base-ui-color-light--text)));
}