/*-------------------------------------------------------------------------------------------------|

    FOOTER
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$es__page_footer} {
    margin: 0;

    padding: $s__sz-s;

    font-size: 0.875em;

    text-align: center;

    --background-color: var(--footer-background-color, var(--base-ui-color));
    @include s__theme(var(--footer-color--text, var(--base-ui-color--text)));
}

#{$es__page_footer} > * {
    margin-bottom: 0;
}

//#{$es__page_footer} a[href] {
//    color: $e__footer--text-color;
//
//    &:hover,
//    &:active {
//        color: lighten($e__footer--text-color, 20%);
//    }
//
//    &:focus {
//        box-shadow: 0 0 0 $s__anchor-focus-shadow-width rgba(255,255,255, 0.5);
//    }
//}