/*-------------------------------------------------------------------------------------------------|

    COMPONENTS
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@import '5-components/_card.scss';
@if $es__component__card != false {
    @include component__card((
        selector:      $es__component__card,
        padding:       $s__sz-m,
        border:        $e__component__card__border,
        border-radius: $e__component__card__border-radius,
        box-shadow:    $e__component__card__box-shadow,
        image-ratio:   $e__component__card__image-ratio
    ))
}


@import '5-components/_cta.scss';
@if $es__component__cta != false {
    @include component__cta((
        selector:        $es__component__cta,
        padding:         $e__component__cta__padding,
        border:          $e__component__cta__border,
        border-radius:   $e__component__cta__border-radius,
        box-shadow:      $e__component__cta__box-shadow
    ))
}


@import '5-components/_hero.scss';
@if $es__component__hero_1 != false {
    @include component__hero((
        selector:      $es__component__hero_1,
        padding:       $s__sz-m,
        image-ratio:   $e__component__hero__image-ratio,
        wrap-margin:   0
    ));
}

@if $es__component__hero_2 != false {
    @include component__hero((
        selector:      $es__component__hero_2,
        padding:       $s__sz-m,
        image-ratio:   $e__component__hero__image-ratio,
        wrap-margin:   -2.4rem -2.4rem 2.4rem -2.4rem
    ));
}


//@import '5-components/_icon.scss';

@import '5-components/_images.scss';



@import '5-components/_info-overlay.scss';
@if $es__component__info-overlay != false {
    @include component__info-overlay((
        selector:     $es__component__info-overlay,
        spacing-unit: $e__component__info-overlay__spacing-unit,
        x-position:   $e__component__info-overlay__x-position,
        y-position:   $e__component__info-overlay__y-position
    ))
}
